<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" folderName="IntelliJ Run" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="Server" />
    <module name="revxt-ss24-g04.test" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>